<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @motocycle.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @motocycle.description %>
</p>

<p>
  <strong>Image name:</strong>
  <%= @motocycle.image_name %>
</p>

<%= link_to 'Edit', edit_motocycle_path(@motocycle) %> |
<%= link_to 'Back', motocycles_path %>
