<!DOCTYPE html>
<html>
  <head>
    <title>AutoradApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
  	<%= render "shared/navbar" %>
    <%= yield %>
  </body>
</html>
